<head>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1 class="background">
        THIS IS OUR -
        <%=title%>
        
    </h1>
    <h3>
        CITY - <%=output.name%>
        Temp - <%=output.main.temp%> degC
    </h3>
</body>